<h4>ACTIONS</h4>
<P>The route used for the Bill Type form it record an action of sms or call when the Add button is pressed. And 
    add the appropriate price based on the settings entered & 
    a timestamp when record has been entered to a list.</P>