<div class="container actions" action='/actons' method='get'>
<h4 style="text-align:center">ACTIONS</h4>
<P>The route used for the Bill Type form it record an action of sms or call when the Add button is pressed. And 
    add the appropriate price based on the settings entered & 
    a timestamp when record has been entered to a list.
    display all the sms or call actions - display 
    the timestamps using fromNow and display a total cost for the selected action.
    </P>

<div class="actionDisplay">
    <div class="row">
        <table>
            <thead>
                <tr>TYPE</tr>
                <tr>COST</tr>
                <tr>WHEN IT HAPPENED</tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
